	
# Created by https://www.gitignore.io/api/playframework,java

### PlayFramework ###
# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
RUNNING_PID
.classpath
build.sbt
.project

dist
project/boot
project/target
project/plugins/target
target
.target

logs


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# trash
build.sbt
project/.sbtserver
project/play-fork-run.sbt
project/sbt-ui.sbt
.metadata/
.sbtserver/connections/master.log
.sbtserver/master.log
.sbtserver/previous.log
.settings/
project/eclipse.sbt
CharadesAndStuff.iml
.idea/
.idea_modules/
.sbtserver/connections/
project/idea.sbt
