@(gameIdForm: Form[Application.GameId])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<h3>Go to checkers</h3>

@form(routes.Application.goToCheckers(), 'class -> "form") {

    @if(gameIdForm.hasGlobalErrors) {
        <p class="error">
            <span class="label label-danger">pffff</span>
        </p>
    }

	<fieldset>
        @inputText(
            gameIdForm("gameId"),
            'placeholder -> "gameID",
            '_label -> "Game ID:",
            '_help -> "Put down some game id",
            'class -> "form-control"
        )
    </fieldset>   
	
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Go Now">
    </div>
}
